/* Monokai colours in RGB & Hex
    Background: (46, 46, 46); #2e2e2e
    Comments: (121, 121, 121); #797979
    White: (214, 214, 214); #d6d6d6
    Yellow: (229, 181, 103); #e5b567
    Green: (180, 210, 115); #b4d273
    Orange: (232, 125, 62); #e87d3e
    Purple: (158, 134, 200); #9e86c8
    Pink: (176, 82, 121); #b05279
    Blue: (108, 153, 187); #6c99bb
*/

Header {
    height: 1;
    dock: top;
}

Footer {
    height: 1;
    dock: bottom;
}

PrimaryScreen {
    background: #2e2e2e;
    width: 1fr;
    height: 1fr;
    border: solid white;
    padding: 1;
}

Home {
    height: auto;
    width: auto;
}

Debug {
    height: auto;
    width: auto;
}

Settings {
    height: auto;
    width: auto;
}

Qanda {
    width: auto;
    height: auto;
}

QandaInput {
    content-align: center middle;
    width: auto;
    height: 3;
    border: none;
    dock: bottom;
}

MarkdownViewer {
    height: 1fr;
    width: 1fr;
    dock: top;
}

TabbedContent {
    dock: top;
    height: auto;
    width: auto;
}

SettingsTab {
    width: 1fr;
    height: auto;
}

SwitchSetting {
    width: auto;
    height: auto;
}

SwitchSetting > Switch {
    height: auto;
    width: auto;
}

.container {
    height: auto;
    width: auto;
}

.label {
    height: 3;
    width: auto;
    content-align: center middle;
}


#qanda_input_switch_setting {
    dock: right;
}

#qanda_input_input {
    width: 1fr;
    height: auto;
}

#qanda_input_select {
    width: 0.15fr;
    height: auto;
    dock: left;
}